<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Bem vindo ao Grupo Escolar  Inc.</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"  href="../grupoescolar/assets/css/style.css" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body> 
    <div class="container">
        <div class="container-form">
            <form class="cadFuncionario">
                        
                <span class="form-title">
                   <h3>Bem vindo/vinda/vinde  ao  Grupo Escolar Inc.</h3> 
                </span>
                <br>
                <input  type="hidden" name="id"  is="id">
                <div class="wrap-input margin-top-35 margin-bottom-35">
                    <label>Tipo de sala:</label>
                    <input class="input-form" type="tipo" name="tipo" required autocomplete="off">
                    <span class="focus-input-form" data-placeholder="tipo

                <div class="form-btn">
                    <button class="btn btn-4 btn-sep icon-send">
                      <input type="submit" id="enviar" value="Enviar">
                    </button>
                </div>

            
     
            </form>



            </div>
        </div>      
     
    </div>
<!-- JavaScript, Ajax and outhers  necessary archives links are here-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
